@charset "UTF-8";

.ajarvis-logo{
	font-family: "Cubic";
	color: #c9c8c8;
}

.trunc{
	width:140px;
 	white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
}

@media only screen and (max-width: 992px) {
    .hidden-text {
		display: none;
	}

	.rm-padding-icon {
		padding: 0 !important;
		margin: 0 !important;
	}
}