@charset "UTF-8";

.ajarvis-logo{
	font-family: "Cubic";
	color: #c9c8c8;
}

.trunc{
 width:140px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.go {
	background-color: #007bff !important;
	color: white;
}